
body,html{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu',sans-serif;
   
}
body{
    overflow-x: hidden;
}
header{
    display: flex;
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 80;
    
}
footer{
    display: flex;
    background-color: rosybrown;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    align-items: center;
    z-index: 80;
}

.loginStyle{
  right: 0%;
  margin-top: 10px;
  margin-right: 2%;
  text-decoration: none;
  position: absolute;
  color: black;
  padding: -0.625rem .75rem;
}

.logo{
    height:60px;
    width:60px;
   margin-left: 1%;
}

.SocialMediaImage{
    height: 20px;
    width: 22px;
    text-decoration: none;

    
}

.iconsty{
    position: absolute;
    right:1%;
    bottom:32%;
    margin-right: 2%;

}
.contactStyle{
    bottom:20%;
    margin-left: 4%;
    text-decoration: none;
    position: absolute;
    color: black;
   
}

.copyrightSty{
    font-size: 10px;
    text-align: center;
    margin: auto;
}