
#marginDesc{
    margin: 2%;
}

.imgDiv{
    background-color: rgb(132,136,139); 
    margin: 10% auto 2% auto; 
    flex-direction: row;
    display: flex;
    width: 50%;
}


.mainDiv{
    margin-bottom: 100px; 
    flex-direction: column;
    display: flex;
}

.abc{
    font-family: cursive; 
}

.descSty{
    display: flex; 
    
    background-color:rosybrown; 
    
    border:1px solid black; 
    border-radius: 5px; 
    margin-right: 2%; 
    margin-left: 2%;
    
}